Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

.lintstagedrc:

{
	"*.php": [
		"php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*"
	],
	"*.js": [ "eslint --ext 'js,jsx,ts,tsx' --quiet --fix" ],
	"*.css": [ "wp-scripts lint-style --fix" ],
	"*.{json, md, yml, yaml}": [ "prettier --write" ]
}

Change the name of the field on the custom status, for the metadata ids
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/meta/position-handler.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/meta/required-user-id-handler.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/shared/php/meta-cleanup-utilities.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix the failure on the update
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Migrate custom status to use term_meta (#43)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/workflow-manager.js
  modules/custom-status/lib/custom-status-configure.js
  modules/custom-status/meta/position-handler.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/meta/required-user-id-handler.php
  modules/custom-status/meta/required-user-ids.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
  modules/shared/php/meta-cleanup-utilities.php
  modules/shared/php/taxonomy-utilities.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Remove all todos, in support of issues instead
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status.js
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/notifications/notifications.php
  modules/settings/settings.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Drop more todos
  phpcs.xml.dist
Due: none

Remove todos (#54)
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status.js
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/notifications/notifications.php
  modules/settings/settings.php
  phpcs.xml.dist
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Switch non meta to meta usage for custom status meta fields
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/lib/custom-status-block.js
  tests/modules/custom-status/test-custom-status-transitions.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix one more missed occurrence
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the wrong field that happened in the merge
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/lib/custom-status-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Block restricted status movements in editor (#44)
  dist/modules/custom-status/custom-status-block-rtl.css
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.css
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status-block.js
  modules/custom-status/lib/editor.scss
  package-lock.json
  package.json
  tests/bootstrap.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/custom-status/test-custom-status-transitions.php
  tests/rest-test-case.php
  tests/test-class-workflow.php
  tests/workflow-test-case.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Update the design for the required users and metadata fields on the custom status modal
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Tweak the help labels
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Drop the roles
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Restrict status movement if the editorial metadata fields are not valid
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Attempting to try and add the red aasterisk against the required fields
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/custom-status/lib/custom-status-block.js
  modules/editorial-metadata/lib/editor.scss
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Flip the users and metadata around
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Update the design for the required fields on a custom status (#55)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add the required asterisk against the EM fields that are required for a status
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/custom-status/lib/components/custom-status-sidebar.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix the crashing in the site editor
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/lib/custom-status-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix the crashing in the site editor (#57)
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/lib/custom-status-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Tweak the message shown when the save button is disabled, and add a new icon for the plugin
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status-block.js
  modules/shared/img/workflow-icon.svg
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add in a block for the required metadat fields on the backend as well
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Optimize the custom status with EMs and fix a bug for the metadata edit
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Reversed the backend editorial metadata check, and limited the statuses shown in the dropdown
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.js
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/custom-status-sidebar.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/custom-status-block.js
  modules/editorial-metadata/lib/editor.scss
  modules/notifications/notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Add the removed filter back
  modules/notifications/notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Switch the extended post status to be a dropdown and popover, and try to fix the alignment problems
  dist/modules/custom-status/custom-status-block-rtl.css
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.css
  dist/modules/custom-status/custom-status-block.js
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/preview/preview-rtl.css
  dist/modules/preview/preview.asset.php
  dist/modules/preview/preview.css
  modules/custom-status/lib/components/custom-status-sidebar.js
  modules/custom-status/lib/editor.scss
  modules/editorial-metadata/lib/editor.scss
  modules/preview/lib/editor.scss
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Refactor custom status to be static
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/custom-status/meta/position-handler.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/meta/required-user-id-handler.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
  modules/preview/preview.php
  modules/preview/rest/preview-endpoint.php
  modules/preview/token.php
  modules/settings/settings.php
  modules/shared/php/class-module.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/custom-status/test-custom-status-transitions.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

migrate the workflow class
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/settings/settings.php
  modules/shared/php/options-utilities.php
  vip-workflow.php
  webpack.config.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Refactor the remaining modules
  class-workflow.php
  dist/modules/settings/settings.asset.php
  dist/modules/settings/settings.js
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
  modules/notifications/notifications.php
  modules/preview/preview.php
  modules/settings/lib/settings.css
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/class-module.php
  modules/shared/php/helper-utilities.php
  modules/shared/php/options-utilities.php
  tests/modules/notifications/test-notifications.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Fix missing imports
  modules/custom-status/custom-status.php
  modules/settings/settings.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the settings not showing up
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/options-utilities.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix return type
  modules/shared/php/options-utilities.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the default options not being set, the settings menu ordering, double status creations and the lack of settings updated message
  modules/custom-status/custom-status.php
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/options-utilities.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add a new way to reset options after each test, and utilize it in tests
  modules/custom-status/custom-status.php
  modules/shared/php/options-utilities.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Update the min php and wp versions
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Move the core hacks to their own file, re-enable the notifications tests, and shift away another helper method that's shared
  .github/workflows/php-tests.yml
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
  modules/settings/settings.php
  modules/shared/php/core-hacks.php
  modules/shared/php/helper-utilities.php
  modules/shared/php/util.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/notifications/test-notifications.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the cs problems
  modules/shared/php/core-hacks.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Up the WP version
  .github/workflows/php-tests.yml
Due: none

Set the php version correctly
  composer.json
  composer.lock
Due: prettier --write

Add the missing =
  modules/settings/settings.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*
