Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Add create test
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add tests for notifications (#39)
  .github/workflows/lint.yml
  .github/workflows/php-tests.yml
  composer.json
  composer.lock
  modules/notifications/notifications.php
  phpcs.xml.dist
  tests/bootstrap.php
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/modules/notifications/test-notifications.php
  tests/test-class-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, prettier --write

Switch the dates to be a popover, and standardize the look of the fields
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Spruce up the UI a bit more
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Clean up the code, and stop the unique key error
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Update the package version
  package-lock.json
  package.json
Due: prettier --write

Tweak the test
  tests/modules/notifications/test-notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove flaky test
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  tests/modules/notifications/test-notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Delete EM endpoint test
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Match the date time picker to be closer to the post publishing picker
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Correct the CSS for everything
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Move the EM fields into the post summary area, align them, and switch the textbox to be a popover
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editor.scss
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Better align the blocks, add the clear button
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Switched the text type to be inline instead of a popover due to overflow problems
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix all the remaining CSS issues
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editor.scss
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Reduce the duplication across the popover methods, and add comments so everything makes more sense
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Switch textareacontrol to textcontrol
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add date time support to Editorial Metadata (#40)
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/editor.scss
  modules/editorial-metadata/lib/editorial-metadata-block.js
  modules/editorial-metadata/views/manage-editorial-metadata.php
  package-lock.json
  package.json
  tests/modules/notifications/test-notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Switch editorial metadata to use meta_term and drop the position parameter entirely
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  dist/modules/editorial-metadata/editorial-metadata-configure.asset.php
  dist/modules/editorial-metadata/editorial-metadata-configure.js
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/components/editorial-metadata-manager.js
  modules/editorial-metadata/lib/components/modals/create-edit-editorial-metadata-modal.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Ensure EMs are sorted, and make the get by more efficient
  dist/modules/editorial-metadata/editorial-metadata-configure.asset.php
  dist/modules/editorial-metadata/editorial-metadata-configure.js
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/components/editorial-metadata-manager.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add tests for EM, and disable multisite test
  .github/workflows/php-tests.yml
  modules/editorial-metadata/editorial-metadata.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add skeleton for restricted status UI (roles, users)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add REST endpoint, change custom status data functions, semi-working data handling in React
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
  modules/custom-status/rest/custom-status-endpoint.php
  modules/custom-status/rest/user-lookup-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add rest of user selection UI. Exclude prior selections from search results, add filter for UI additions necessary for restrictions UI
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix user selection for users with parenthesis in display_name
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/user-select-form-token-field.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Remove debug code
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Change all REST endpoints to init() themselves
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/preview/preview.php
  modules/preview/rest/preview-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Update REST tests to support 'required_user_logins'
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Use array_merge instead of spread operator for PHP 8 associative array support
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix multisite tests, create admin user for each REST test
  .github/workflows/php-tests.yml
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  tests/rest-test-case.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Simplify the adding of the meta fields to the term result
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Migrate EM to use term_meta (#41)
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  dist/modules/editorial-metadata/editorial-metadata-configure.asset.php
  dist/modules/editorial-metadata/editorial-metadata-configure.js
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/components/editorial-metadata-manager.js
  modules/editorial-metadata/lib/components/modals/create-edit-editorial-metadata-modal.js
  modules/editorial-metadata/lib/editorial-metadata-block.js
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  tests/rest-test-case.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Migrate custom status to use term_meta, and add in support for required metadata fields on the backend
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove the is_required field entirely since the other PR will be removing it as well
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Delete unused utilities
  modules/shared/php/taxonomy-utilities.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove removed required file
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix errors found through tests
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix up the tests and ensure the slug is generated when it's not provided
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Redo the way terms are fetched
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Correct the type for get by
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Path conditions:
  php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*: any of: *.php
  eslint --ext 'js,jsx,ts,tsx' --quiet --fix: any of: *.js
  wp-scripts lint-style --fix: any of: *.css
  prettier --write: any of: *.{json, md, yml, yaml}
