Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

.lintstagedrc:

{
	"*.php": [
		"php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*"
	],
	"*.js": [ "eslint --ext 'js,jsx,ts,tsx' --quiet --fix" ],
	"*.css": [ "wp-scripts lint-style --fix" ],
	"*.{json, md, yml, yaml}": [ "prettier --write" ]
}

Add editorial metadata analytics (#64)
  modules/editorial-metadata/editorial-metadata.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Change `pluginZipFile` to `pluginData` in install step of blueprint
  blueprint.json
Due: prettier --write

Test `targetFolderName` option
  blueprint.json
Due: prettier --write

Update blueprint deprecated `pluginZipFile` step to `pluginData`
  blueprint.json
Due: prettier --write

Add WP_DEBUG: true for error logs
  blueprint.json
Due: prettier --write

Remove targetFolderName option
  blueprint.json
Due: prettier --write

Bump minimum PHP version
  blueprint.json
Due: prettier --write

Fix step indentation
  blueprint.json
Due: prettier --write

Remove PR-specific testing branch
  blueprint.json
Due: prettier --write

Fix broken blueprint (#65)
  blueprint.json
Due: prettier --write

Fix fatal error when creating post of unsupported post type
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix fatal error when creating post of unsupported post type (#66)
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix critical npm alerts
  package-lock.json
  package.json
Due: prettier --write

chore: format dependabot.yml with repo prettier config
  .github/dependabot.yml
Due: none

chore: pin third-party GitHub Actions to commit SHAs
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/php-tests.yml
Due: none

chore: pin third-party GitHub Actions to commit SHAs (#80)
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/php-tests.yml
Due: none
