Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

More missing ==
  modules/notifications/notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Up the workflow version of the plugin
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Up the package version info
  package-lock.json
  package.json
Due: prettier --write

remove the icon, and ensure the CRUD operations give back populated editorial metadatas
  modules/custom-status/custom-status.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/shared/img/workflow-icon.svg
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add an extra comment about the big refactor. We don't talk about the big refactor enough
  modules/custom-status/meta/required-metadata-id-handler.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Implement the required metadata fields check in the editor (#58)
  dist/modules/custom-status/custom-status-block-rtl.css
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.css
  dist/modules/custom-status/custom-status-block.js
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  dist/modules/editorial-metadata/editorial-metadata-block-rtl.css
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.css
  dist/modules/editorial-metadata/editorial-metadata-block.js
  dist/modules/preview/preview-rtl.css
  dist/modules/preview/preview.asset.php
  dist/modules/preview/preview.css
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/custom-status-sidebar.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/custom-status-block.js
  modules/custom-status/lib/editor.scss
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/editorial-metadata/lib/editor.scss
  modules/editorial-metadata/lib/editorial-metadata-block.js
  modules/preview/lib/editor.scss
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix

Re-order the taxonomy registration process
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Redo the way default options are handled
  modules/settings/settings.php
  modules/shared/php/options-utilities.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/notifications/test-notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove the taxonomy registration priority and add an optimized version of the editorial metadata lookup
  modules/custom-status/custom-status.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Change all tests to extend WP_UnitTestCase, use built-in factory methods, remove unnecessary per-test cleanup
  composer.json
  composer.lock
  tests/bootstrap.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/custom-status/test-custom-status-transitions.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  tests/modules/notifications/test-notifications.php
  tests/rest-test-case.php
  tests/workflow-test-case.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, prettier --write

Refactor the remaining modules (#59)
  .github/workflows/php-tests.yml
  class-workflow.php
  composer.json
  composer.lock
  dist/modules/settings/settings.asset.php
  dist/modules/settings/settings.js
  modules/custom-status/custom-status.php
  modules/custom-status/meta/position-handler.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/meta/required-user-id-handler.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
  modules/notifications/notifications.php
  modules/preview/preview.php
  modules/preview/rest/preview-endpoint.php
  modules/preview/token.php
  modules/settings/lib/settings.css
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/class-module.php
  modules/shared/php/core-hacks.php
  modules/shared/php/helper-utilities.php
  modules/shared/php/options-utilities.php
  modules/shared/php/util.php
  package-lock.json
  package.json
  tests/bootstrap.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/custom-status/test-custom-status-transitions.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
  tests/modules/notifications/test-notifications.php
  tests/rest-test-case.php
  tests/workflow-test-case.php
  vip-workflow.php
  webpack.config.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Migrate telemetry module to static (single-file) module
  modules/notifications/notifications.php
  modules/telemetry/events/notification-events.php
  modules/telemetry/events/settings-events.php
  modules/telemetry/events/status-events.php
  modules/telemetry/telemetry.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Cleanup unnecessary data in telemetry events
  modules/custom-status/custom-status.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove double-include of Telemetry module
  modules/telemetry/telemetry.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove the cache for CS, have the client do the EM mapping
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/settings/views/settings.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix no updates being possible to draft and pending
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Switch notice to the 6.4 method, scrap metadata for UI purposes only and have that be done on the frontend instead
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/settings/views/settings.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Introduce a new loggin utility to send logs to logstash
  modules/notifications/notifications.php
  modules/shared/php/log-level-enum.php
  modules/shared/php/logging-utility.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove caching, and unused functions
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix telemetry method signatures to static
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix publish guard and webhook toggle telemetry checks
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Change custom_status_changed event to not fire for reorders
  modules/custom-status/custom-status.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Change post_custom_status_changed event to record when a post moves from a custom status to 'publish'
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Update the notification_sent event to only fire when an email or webhook notification was sent, and track which
  modules/notifications/notifications.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Record when email notification settings are changed
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Update modules/custom-status/custom-status.php
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix errors on updating the draft and pending status (#62)
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Switch from our custom modal to the default WP one
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  dist/modules/editorial-metadata/editorial-metadata-configure.asset.php
  dist/modules/editorial-metadata/editorial-metadata-configure.js
  modules/custom-status/lib/components/workflow-manager.js
  modules/editorial-metadata/lib/components/editorial-metadata-manager.js
  modules/shared/js/components/modals/confirm-delete-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add loglevel enum include message
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add status codes to some of the WP_Errors
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/preview/rest/preview-endpoint.php
  modules/preview/token.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add published posts count to update telemetry
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Send create/update telemetry events after object has been verified. Count required fields in events
  modules/custom-status/custom-status.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Replace `empty()` checks with explicit types
  modules/notifications/notifications.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add status caching to two core hacks filters
  modules/shared/php/core-hacks.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

QOL Improvements (#63)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  dist/modules/editorial-metadata/editorial-metadata-configure.asset.php
  dist/modules/editorial-metadata/editorial-metadata-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/workflow-manager.js
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/components/editorial-metadata-manager.js
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/notifications/notifications.php
  modules/preview/rest/preview-endpoint.php
  modules/preview/token.php
  modules/settings/views/settings.php
  modules/shared/js/components/modals/confirm-delete-modal.js
  modules/shared/php/core-hacks.php
  modules/shared/php/helper-utilities.php
  modules/shared/php/log-level-enum.php
  modules/shared/php/logging-utility.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Add Tracks integration (#21)
  modules/custom-status/custom-status.php
  modules/notifications/notifications.php
  modules/settings/settings.php
  modules/telemetry/telemetry.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add `em_field_created` point
  modules/editorial-metadata/editorial-metadata.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add `em_field_changed`/`em_field_deleted` datapoints
  modules/editorial-metadata/editorial-metadata.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add type to deleted metadata field data, track EM fields used in publish
  modules/editorial-metadata/editorial-metadata.php
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add total EM field count to published event
  modules/telemetry/telemetry.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Path conditions:
  php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*: any of: *.php
  eslint --ext 'js,jsx,ts,tsx' --quiet --fix: any of: *.js
  wp-scripts lint-style --fix: any of: *.css
  prettier --write: any of: *.{json, md, yml, yaml}
