Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Fix the get_by
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Remove UserLookupEndpoint, use WordPress native user API
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/user-select-form-token-field.js
  modules/custom-status/rest/user-lookup-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Change allowed users selection to save users as IDs instead of logins, store full user objects in UI
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Ensure restrictions are not saved with a status if "This status is restricted" is toggled off
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Remove 'vw_custom_status_ui_additions' filter, instead add user metadata in all calls to get_custom_statuses()
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix React crashes when entering a non-matching user and typing comma or enter
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/user-select-form-token-field.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix REST tests
  modules/custom-status/custom-status.php
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Use class to manage user ID term meta
  modules/custom-status/custom-status.php
  modules/custom-status/term-meta/required-user-ids.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Automatically remove users from restriction user IDs when deleted
  modules/custom-status/custom-status.php
  modules/custom-status/meta/required-user-ids.php
  modules/custom-status/term-meta/required-user-ids.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add types to `delete_user` filter callback
  modules/custom-status/meta/required-user-ids.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix types in RequiredUserIds user delete callback, use strict null check
  modules/custom-status/meta/required-user-ids.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add restricted status UI for users (#42)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/user-select-form-token-field.js
  modules/custom-status/meta/required-user-ids.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/preview/preview.php
  modules/preview/rest/preview-endpoint.php
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Move the init methods around for endpoint
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
  modules/preview/preview.php
  modules/preview/rest/preview-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Delete the editorial metadata field from the status when that field is removed
  modules/custom-status/custom-status.php
  modules/custom-status/meta/required-metadata-fields.php
  modules/custom-status/meta/required-user-ids.php
  modules/editorial-metadata/editorial-metadata.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the custom status endpoint tests
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Look for the right field on the custom status
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Expose the editorial metadata fields on the frontend
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/workflow-manager.js
  modules/custom-status/lib/custom-status-configure.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Fix all the bugs related to the editorial metadata search not working
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/metadata-select-form-token-field.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/lib/components/workflow-manager.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Make the user lookup faster
  modules/custom-status/rest/custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Block status movements in UI using custom button on restricted statuses
  dist/modules/custom-status/custom-status-block-rtl.css
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.css
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/custom-status-block.js
  modules/custom-status/lib/editor.scss
  package-lock.json
  package.json
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix, wp-scripts lint-style --fix, prettier --write

Cleanup the required fields cleaner, so it's all in one file
  modules/custom-status/custom-status.php
  modules/custom-status/meta/required-fields-cron-cleaner.php
  modules/custom-status/meta/required-metadata-fields.php
  modules/custom-status/meta/required-user-ids.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Added docs
  modules/custom-status/meta/required-fields-cron-cleaner.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add tests for the new required fields cron cleaner as well
  modules/custom-status/meta/required-fields-cron-cleaner.php
  modules/custom-status/rest/custom-status-endpoint.php
  tests/modules/custom-status/meta/test-required-fields-cron-cleaner.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add better error handling
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Adding the missing use in the tests
  tests/modules/custom-status/meta/test-required-fields-cron-cleaner.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Fix the tests interfering with each other
  tests/modules/custom-status/meta/test-required-fields-cron-cleaner.php
  tests/modules/custom-status/rest/test-custom-status-endpoint.php
  tests/modules/editorial-metadata/test-editorial-metadata-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add date_floating to our custom statuses so we can remove 2 core hacks
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Block status transitions on restricted custom post statuses
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Return `false` during post updates to exit before SQL validation during update
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add restricted transition tests
  tests/modules/custom-status/test-custom-status-transitions.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Add safety `??` check on term meta
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Cleanup admin user in tests
  tests/modules/custom-status/test-custom-status-endpoint.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Test extending WP_REST_Request
  tests/modules/custom-status/test-custom-status-transitions.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Have all tests extend WorkflowTestCase, fix user cleanup
  tests/bootstrap.php
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/modules/custom-status/test-custom-status-transitions.php
  tests/rest-test-case.php
  tests/test-class-workflow.php
  tests/workflow-test-case.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Run `wp_insert_post_data` filter later to avoid conflicts
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Move required fields cleanup to individual files, split the taxonomy and registration method and remove console.log
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/meta/required-fields-cron-cleaner.php
  modules/custom-status/meta/required-metadata-id-cleanup.php
  modules/custom-status/meta/required-user-id-cleanup.php
  modules/shared/php/meta-cleanup-utilities.php
  tests/modules/custom-status/meta/test-required-metadata-id-cleanup.php
  tests/modules/custom-status/meta/test-required-user-id-cleanup.php
  vip-workflow.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*, eslint --ext 'js,jsx,ts,tsx' --quiet --fix

Remove the setting of publishing capability to avoid security problems
  modules/custom-status/custom-status.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Move the adding of term_meta to the individual meta files
  modules/custom-status/custom-status.php
  modules/custom-status/meta/position-handler.php
  modules/custom-status/meta/required-metadata-id-handler.php
  modules/custom-status/meta/required-user-id-cleanup.php
  modules/custom-status/meta/required-user-id-handler.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Update tests for the metadata handlers
  modules/custom-status/meta/required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-metadata-id-handler.php
  tests/modules/custom-status/meta/test-required-user-id-handler.php
Due: php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*

Path conditions:
  php ./vendor/bin/phpcbf -p -s -v -n . --standard=phpcs.xml.dist --extensions=php --ignore=/vendor/*,/node_modules/*: any of: *.php
  eslint --ext 'js,jsx,ts,tsx' --quiet --fix: any of: *.js
  wp-scripts lint-style --fix: any of: *.css
  prettier --write: any of: *.{json, md, yml, yaml}
