Repository Automattic/vip-workflow-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: phplint, vendor/bin/phpcs, eslint . --ext .js, prettier --write

.lintstagedrc:

{
	"*.php": [ "phplint", "vendor/bin/phpcs" ],
	"*.js": [ "eslint . --ext .js" ],
	"*.{json, md, yml, yaml}": [ "prettier --write" ]
}

Add a notice when the min WP version is not met (#32)
  .eslintignore
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Add the email fields, just like the webhook fields
  .lintstagedrc
  modules/settings/lib/settings.js
  modules/settings/settings.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Add the messages back in the settings, ensure the email address is read from the new option
  .lintstagedrc
  modules/notifications/notifications.php
  modules/settings/lib/settings.js
  modules/settings/settings.php
  modules/shared/php/views/module-header.php
  package.json
Due: phplint, vendor/bin/phpcs, eslint . --ext .js, prettier --write

Attempt to fix the linting problems for php files
  .lintstagedrc
  composer.json
  package.json
Due: prettier --write

kill husky and lint staged
  .github/workflows/lint.yml
  .lintstagedrc
  package.json
  vip-workflow.php
Due: phplint, vendor/bin/phpcs, prettier --write

update package-lock
  package-lock.json
Due: prettier --write

Remove remaining packages for husky and lint staged
  .husky/pre-commit
  .lintstagedrc
Due: none

Revert linting additions for PHP (#33)
  .github/workflows/lint.yml
  .husky/pre-commit
  .lintstagedrc
  composer.json
  package-lock.json
  package.json
  vip-workflow.php
Due: phplint, vendor/bin/phpcs, prettier --write

Reduce the options
  modules/settings/settings.php
Due: phplint, vendor/bin/phpcs

Add functional modules for managing newly-installed data
  modules/editorial-metadata/editorial-metadata.php
  modules/shared/php/install-utilities.php
  modules/shared/php/options-utilities.php
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Fix PHPCS errors
  modules/custom-status/views/manage-workflow.php
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/views/manage-editorial-metadata.php
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/options-utilities.php
Due: phplint, vendor/bin/phpcs

Correct the name of the receptients and add more filters
  modules/notifications/notifications.php
Due: phplint, vendor/bin/phpcs

Tweak the spacing for md files, and tweak the email format
  .editorconfig
  README.md
  modules/notifications/notifications.php
Due: phplint, vendor/bin/phpcs

Tweak the email body
  README.md
  modules/notifications/notifications.php
Due: phplint, vendor/bin/phpcs

Add ToDo for moving the get_supported_post_types() function
  class-workflow.php
Due: phplint, vendor/bin/phpcs

Refactor editorial metadata module (#34)
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/custom-status/views/manage-workflow.php
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/editorial-metadata/views/manage-editorial-metadata.php
  modules/notifications/notifications.php
  modules/preview/preview.php
  modules/settings/settings.php
  modules/settings/views/settings.php
  modules/shared/php/class-module.php
  modules/shared/php/install-utilities.php
  modules/shared/php/options-utilities.php
  modules/shared/php/taxonomy-utilities.php
  modules/shared/php/views/module-header.php
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Add toggle control for review required, right-align modal buttons
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Pipe is_review_required through REST, change to snake case for consistency
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/rest/custom-status.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Remove unused fields for each module, switch webhook to be async and batch the emails that are sent
  README.md
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/notifications/notifications.php
  modules/settings/settings.php
  modules/shared/php/util.php
Due: phplint, vendor/bin/phpcs

Make the settings save code less risky
  modules/settings/settings.php
Due: phplint, vendor/bin/phpcs

Change email notifications to not go to blog admins (#35)
  .editorconfig
  README.md
  class-workflow.php
  modules/custom-status/custom-status.php
  modules/notifications/notifications.php
  modules/settings/lib/settings.js
  modules/settings/settings.php
  modules/shared/php/util.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Bump up the version of the plugin
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Refactor the notifications module to be static
  class-workflow.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/notifications/notifications.php
  modules/shared/php/install-utilities.php
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Add types everywhere and simplify the webhook notification method
  modules/notifications/notifications.php
Due: phplint, vendor/bin/phpcs

Rename 'EditStatus' REST class to 'CustomStatusEndpoint'
  modules/custom-status/custom-status.php
  modules/custom-status/rest/custom-status-endpoint.php
Due: phplint, vendor/bin/phpcs

Fix potential PHP warning from unchecked property
  modules/shared/php/install-utilities.php
Due: phplint, vendor/bin/phpcs

Add CRUD and reorder REST tests
  tests/bootstrap.php
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/rest-test-case.php
Due: phplint, vendor/bin/phpcs

Add approve reject workflow setting (#37)
  dist/modules/custom-status/custom-status-configure.asset.php
  dist/modules/custom-status/custom-status-configure.js
  modules/custom-status/custom-status.php
  modules/custom-status/lib/components/modals/create-edit-custom-status-modal.js
  modules/custom-status/rest/custom-status-endpoint.php
  modules/shared/php/install-utilities.php
  tests/bootstrap.php
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/rest-test-case.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Update `useInterceptPluginSidebar` to disallow unpinning sidebar in header menu
  modules/custom-status/lib/hooks/use-intercept-plugin-sidebar.js
Due: eslint . --ext .js

Add CSS changes to also remove the "unpin" star icon from sidebar header
  modules/custom-status/lib/editor.scss
Due: none

Some refactoring, add `isSidebarActionRequired` calculation for opening the sidebar
  dist/modules/custom-status/custom-status-block-rtl.css
  dist/modules/custom-status/custom-status-block.asset.php
  dist/modules/custom-status/custom-status-block.css
  dist/modules/custom-status/custom-status-block.js
  modules/custom-status/lib/custom-status-block.js
Due: phplint, vendor/bin/phpcs, eslint . --ext .js

Address code review feedback
  modules/notifications/notifications.php
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Stop running lint after a merge on trunk
  .github/workflows/lint.yml
Due: none

Fix header group
  modules/notifications/notifications.php
Due: phplint, vendor/bin/phpcs

Refactor the notifications module (#38)
  .github/workflows/lint.yml
  class-workflow.php
  modules/editorial-metadata/rest/editorial-metadata-endpoint.php
  modules/notifications/notifications.php
  vip-workflow.php
Due: phplint, vendor/bin/phpcs

Add tests for notifications
  modules/notifications/notifications.php
  tests/bootstrap.php
  tests/modules/custom-status/test-custom-status-endpoint.php
  tests/modules/notifications/test-notifications.php
  tests/test-class-workflow.php
Due: phplint, vendor/bin/phpcs

Add more tests
  tests/modules/notifications/test-notifications.php
Due: phplint, vendor/bin/phpcs

Fix php cs issues
  tests/modules/notifications/test-notifications.php
Due: phplint, vendor/bin/phpcs

Add more tests and also add a variable sniffer to our cs code
  .github/workflows/lint.yml
  .github/workflows/php-tests.yml
  composer.json
  composer.lock
  phpcs.xml.dist
  tests/modules/notifications/test-notifications.php
Due: phplint, vendor/bin/phpcs, prettier --write

Add date to the supported editorial metadata fields
  dist/modules/editorial-metadata/editorial-metadata-block.asset.php
  dist/modules/editorial-metadata/editorial-metadata-block.js
  modules/editorial-metadata/editorial-metadata.php
  modules/editorial-metadata/lib/editorial-metadata-block.js
  modules/editorial-metadata/views/manage-editorial-metadata.php
Due: phplint, vendor/bin/phpcs, eslint . --ext .js
